html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  font-family: Helvetica;
}

.container {
  width: 960px;
  margin: auto;
  border: 1px solid black;
}

/* Header */

.header {
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
}

.company-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.company-name p {
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu li {
  list-style: none;
  color: white;
  margin: 1rem;
}

.header img {
  width: auto;
  height: 1.5rem;
  margin: 1rem 1rem 2rem 1rem;
}
